.footer-content {
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: $title-sans-serif;
  font-size: 0.7em;
  line-height: 1.4em;

  @include desktop {
    width: $desktop-homepage-width;
    flex-wrap: nowrap;
  }

  .footer-column {
    flex-basis: 10%;
    margin-bottom: 30px;
    flex-shrink: 1;
    flex-grow: 1;

    @include desktop {
      margin-bottom: 40px;
      padding: 0px 20px;
    }

    p {
      &:first-child {
        margin-top: 0px;
      }
    }

    &.bigger-column {
      flex-basis: 100%;
      flex-grow: 2;

      @include desktop {
        flex-basis: 25%;
      }
    }

    .footer-column-header {
      // font-size: 1rem;
      font-weight: bold;
      margin-bottom: 10px;

      @include desktop {
        margin-bottom: 20px;
      }
    }
  }
}