.footer-content {
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: $title-sans-serif;
  font-size: 0.8em;

  @include desktop {
    width: $desktop-homepage-width;
    flex-wrap: nowrap;
  }

  .footer-column {
    flex-basis: 10%;
    padding: 20px;
    flex-shrink: 1;
    flex-grow: 1;

    &.bigger-column {
      flex-basis: 100%;
      flex-grow: 2;

      @include desktop {
        flex-basis: 25%;
      }
    }

    @include desktop {
      margin-bottom: 40px;
    }

    .footer-column-header {
      // font-size: 1rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}