.footer-content {
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: $title-sans-serif;
  font-size: 0.8rem;

  @include desktop {
    width: auto;
  }

  .footer-column {
    margin-right: 80px;
    margin-bottom: 40px;

    @include desktop {
      margin-bottom: 0px;
    }

    .footer-column-header {
      // font-size: 1rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}