@import './fonts.scss';

$mobile-header-height: 160px;
$desktop-header-height: 190px;
$mobile-logo-height: 60px;
$desktop-logo-height: 80px;
$desktop-homepage-width: 1200px;
$desktop-column-width: 780px;
$footnote-column-width: 220px;
$compost-green: #336633;
$link-color: $compost-green;
$title-sans-serif: 'Open Sans', sans-serif;

$header-z-index: 10;
$toc-z-index: 20;

@mixin desktop {
  @media (min-width: #{$desktop-column-width}) {
    @content;
  }
}

@mixin homepage-desktop {
  @media (min-width: #{$desktop-homepage-width}) {
    @content;
  }
}

@mixin title-style {
  font-family: $title-sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;

  p, li {
    line-height: 1.4em;
  }

  &.no-scroll {
    overflow: hidden;
  }

  @include desktop {
    font-size: 21px;
    
    p, li {
      line-height: 1.5em;
    }
  }
}

a, a:visited, .link-style {
  cursor: pointer;
  color: $link-color;
  text-underline-offset: 0.1em;

  &:hover {
    color: black;
  }
}

.main-header {
  position: absolute;
  width: 100%;
  height: $mobile-header-height;
  box-sizing: border-box;
  padding: 0px 12px;
  background-image: url('../images/COMPOST_Assets_Header4.png');
  background-position: center bottom;
  background-size: auto 100%;
  margin-bottom: -40px;
  z-index: $header-z-index;

  @include homepage-desktop {
    margin-bottom: 0px;
    height: $desktop-header-height;
  }

  .header-top {
    display: flex;

    @include homepage-desktop {
      margin: 0px auto;
      position: relative;
      width: $desktop-homepage-width;
    }

    .compost-logo {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
      height: $mobile-logo-height;

      @include homepage-desktop {
        height: $desktop-logo-height;
      }

      img {
        height: 100%;
      }
    }

    .hamburger-worm {
      margin-top: 20px;
      margin-left: 10px;
      height: 40px;

      @include homepage-desktop {
        height: 50px;
        margin-top: 25px;
      }

      img {
        height: 100%;
      }
    }

    .mushroom {
      position: absolute;
      right: 22px;
      top: 3px;
      height: 60px;

      @include homepage-desktop {
        height: 70px;
        top: 8px;
      }

      img {
        height: 100%;
      }
    }
  }
}

main {
  @include desktop {
    min-height: calc(100% - #{$mobile-header-height});
  }

  .home-container {
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
    
    @media (min-width: 1920px) {
      max-width: 1920px;  
    }
    
    .above-the-fold-container {
      
      @include homepage-desktop {
        background-image:
          linear-gradient(rgba(255,255,255,.98), rgba(255,255,255,.98)),
          url('../images/COMPOST_Pattern_A1.jpg');
      }

      .above-the-fold-content {
        position: relative;
        padding-top: calc(#{$mobile-header-height} - 20px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include homepage-desktop {
          padding-top: $desktop-header-height;
          margin: 0px auto;
          // width: 1000px;
          width: $desktop-homepage-width;
          height: calc(100vh - #{$mobile-header-height});
          flex-direction: row;
        }
        
        .cover-image-container {
          width: 100%;

          @include homepage-desktop {
            height: 80%;
            width: auto;
          }
          
          img {
            width: 100%;
            
            @include homepage-desktop {
              height: 100%;
              width: auto;
              border: 1px solid $compost-green;
            }
          }
        }

        .compost-description {
          font-family: $title-sans-serif;
          padding: 40px 20px;
          background-image:
            linear-gradient(rgba(255,255,255,.98), rgba(255,255,255,.98)),
            url('../images/COMPOST_Pattern_A1.jpg');

          @include homepage-desktop {
            background-image: none;
            margin-left: 80px;
            padding: 0px;
          }
        }

        .gap-worm {
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);

          @include homepage-desktop {
            display: block;
          }
          
          img {
            width: 60px;
            margin: 0px auto;
          }
        }
      }
    }

    .home-toc-pieces-container {
      background-image:
        linear-gradient(rgba(255,255,255,.98), rgba(255,255,255,.98)),
        url('../images/COMPOST_Pattern_A2.jpg');

      .home-toc-pieces-content {
        margin: 0px auto;
        margin-top: 60px;
        padding: 0px 20px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &::after {
          content: "";
          flex-basis: 350px;
        }

        @include homepage-desktop {
          width: $desktop-homepage-width;
          margin-top: 80px;
          padding: 0px;
        }
        
        .toc-piece-tile {
          margin-bottom: 60px;
          color: black;
          text-decoration: none;

          @include homepage-desktop {
            margin-bottom: 40px;
          }

          .toc-piece-title {
            width: 350px;
            margin-top: 8px;
            margin-bottom: 6px;
            @include title-style;
            font-weight: bold;
            font-size: 1.4em;

            @include homepage-desktop {
              font-size: 1.2em;
              margin-bottom: 14px;
            }
          }

          .toc-piece-author {
            @include title-style;
            letter-spacing: 0.2em;
            margin-bottom: 12px;

            @include homepage-desktop {
              font-size: 0.8em;
              margin-bottom: 20px;  
            }
          }

          .toc-piece-image {
            width: 100%;
            margin-bottom: 12px;

            @include homepage-desktop {
              margin-bottom: 20px;
            }

            @media (min-width: 370px) {
              width: 350px;
              height: 175px;
            }
            
            img {
              width: 100%;
              max-height: 100%;
            }
          }

          .toc-piece-description {
            @include homepage-desktop {
              font-size: 0.8em;
            }
            @media (min-width: 370px) {
              width: 350px;
            }
          }
        }
      }
    }
  }

  .main-column {
    position: relative;
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 40px;
    padding-top: calc(#{$mobile-header-height} - 20px);
    box-sizing: border-box;
    word-wrap: break-word;

    @include desktop {
      padding-top: calc(#{$desktop-header-height} + 30px);
      width: $desktop-column-width;
      margin: 0px auto;
    }
  }

  .piece-container, .main-column {

    &.has-footnotes {
      transform: translateX(-($footnote-column-width / 2));
    }

    .piece-title-image {
      img {
        // border: 1px solid $compost-green;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        width: 100%;
      }
    }

    // This is really just for The Salt of the Cosmos
    // Maybe should put in a piece-specific style override
    ol {
      padding-inline-start: 10px;

      @include desktop {
        padding-inline-start: 0px;
      }
    }

    code {
      font-size: 0.8rem;
      background: scale-color($compost-green, $lightness: 62%, $saturation: -20%);
    }

    pre {
      padding: 16px 20px;
      font-size: 0.8rem;
      overflow: auto;
      background: scale-color($compost-green, $lightness: 62%, $saturation: -20%);
    }

    h1 {
      @include title-style;
      margin-bottom: 0.3em;
    }

    h2 {
      @include title-style;
      font-weight: 400;
      font-size: 1.3em;
      margin-top: 2.0em;

      &.piece-subtitle {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    .author-name {
      font-family: $title-sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.3em;
    }

    img {
      max-width: 100%;
    }

    .gif-ending {
      text-align: center;
      margin: 40px 0px;

      @include desktop {
        margin: 120px 0px;
      }
    }

    .bio-separator {
      width: 50%;
      height: 1px;
      background: black;
      margin: 40px auto;
    }

    .footnote-link {
      font-weight: bold;
    }

    .footnotes-container {
      position: absolute;
      font-size: 16px;
      // font-weight: 300;
      top: 0px;
      left: $desktop-column-width;
      width: $footnote-column-width;
      margin-left: 40px;
      color: #888;

      .footnote {
        word-break: break-word;

        .footnote-number {
          font-weight: bold;
          color: #777;
        }
      }
    }
  }
}

.mushrooms-container {
  margin: 0px auto;
  width: 100%;
  height: 140px;
  background-image: url('../images/COMPOST_Assets_Mushrooms.png');
  background-position: center;
  background-size: 200%;
  background-repeat: repeat-x;

  @media (min-width: 600px) {
    background-size: contain;
  }
}

.footer-container {
  width: 100%;
  
  @media (min-width: 1920px) {
    margin: 0px auto;
    max-width: 1920px;  
  }
  
  background-image:
    linear-gradient( rgba(255,255,255,.9), rgba(255,255,255,.9) ),
    url('../images/COMPOST_Assets_Footer.png');
  background-position: center top;
  background-size: cover;
  
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 40px;

  @include desktop {
    padding-top: 150px;
    height: 500px;
  }

  a {
    text-decoration: none;
  }
}

.mobile-footnotes-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  box-sizing: border-box;
  border-top: 1px solid;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
  overflow-y: auto;

  .mobile-footnote {
    padding: 20px;
  }

  &.open {
    max-height: 300px;
  }
}

/* support us page styles */

.support-us-page {
  font-family: $title-sans-serif; 
}

.header-with-icon {
  display: flex;
  align-items: center;

  img {
    height: 80px;
    margin-left: -10px;
    margin-right: 10px;

    @include desktop {
      height: auto;
    }
  }
}

.support-us-section {
  margin: 40px 0px;
  
  @include desktop {
    margin: 80px 0px;
  }
}

.donation-callout {
  .donation-callout-content {
    font-family: $title-sans-serif;
    font-size: 1.2em;
  }
  
  .donation-buttons {
    margin-top: 20px;

    .button-row {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      .donation-button {
        background: $compost-green;
        font-family: $title-sans-serif;
        border-radius: 6px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        flex-grow: 0;
        padding: 14px 20px;
        text-align: center;
        margin-right: 10px;
        font-size: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-sizing: border-box;
        height: 63px;
        width: 50%;
        text-decoration: none;

        // @include desktop {
        //   width: 160px;
        // }

        &.full-width {
          width: 100%;
        }

        &:hover {
          background: scale-color($compost-green, $lightness: -30%, $saturation: 10%);
        }
      }
    }
  }
}

.fundraising-goals {
  font-family: $title-sans-serif;
  
  .goal-container {
    margin-bottom: 20px;

    .goal-label {
      font-weight: bold;
    }

    .goal-description {
      font-size: 16px;
      padding: 8px;
    }
    
    .goal-bar {
      position: relative;
      box-shadow: 0px 0px 0px 3px black inset;
      padding: 16px 24px;
      display: flex;
      align-items: center;
      height: 74px;
      box-sizing: border-box;
      
      .goal-innards {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 0px;
        background: $compost-green;
        opacity: 0.3;
        z-index: -1;
        transition: width 0.5s ease-out;
      }
    }
  }
}

@import './prev-and-next-buttons.scss';
@import './table-of-contents.scss';
@import './footer-content.scss';
@import './pieces/shafali.scss';
@import './pieces/micah.scss';
