.prev-and-next-buttons {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    margin-top: 40px;
  }

  a {
    margin: 0px 10px;
  }

  .arrow-icon {
    height: 35px;

    &:hover {
      transform: scale(1.2);
    }
  }

  .home-icon {
    height: 80px;
    margin-top: -20px;

    &:hover {
      transform: rotate(5deg) scale(1.2);
    }
  }
}