.prev-and-next-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0px 10px;
  }

  .arrow-icon {
    height: 35px;
  }

  .home-icon {
    height: 80px;
    margin-top: -20px;
  }
}