.toc-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  background: white;

  .toc-header {
    display: flex;
    background: white;
    height: $mobile-header-height;
    margin-bottom: -60px;
    
    @include desktop {
      height: 200px;
    }

    .compost-logo {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
      height: $mobile-logo-height;

      @include desktop {
        height: $desktop-logo-height;
        top: 20px;
      }

      img {
        height: 100%;
      }
    }

    .toc-close-button {
      margin-top: 20px;
      margin-left: 10px;
      height: 40px;

      @include desktop {
        margin-top: 40px;
        margin-left: 20px;
        height: 73px;  
      }

      img {
        height: 100%;
      }
    }

    .mushroom {
      position: absolute;
      right: 10px;
      top: 20px;
      height: 40px;

      @include desktop {
        top: 40px;
        right: 30px;
        height: 73px;  
      }

      img {
        height: 100%;
      }
    }
  }

  .toc-body {
    max-width: 1200px;
    margin: 0px auto;
    
    .toc-nav-links {
      font-family: $title-sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 35px;

      @include desktop {
        margin-top: 60px;
      }
      
      a {
        display: inline-flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 50px;
      }

      .worm-link {
        position: relative;
        display: inline-flex;

        .worm-image {
          display: none;
          position: absolute;
          top: -40px;
          left: -65px;
          width: 100px;
          height: 100px;
        }
      }
    }
    
    .toc-pieces {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around;
      margin-top: 40px;

      .toc-piece-tile {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        color: black;

        .toc-piece-image {
          width: 350px;
          height: 175px;
          background: #ddd;
        }

        .toc-piece-title {
          width: 350px;
          margin-top: 8px;
          font-size: 1.2rem;
        }
      }
    }

    .toc-footer-container {
      display: flex;

      @include desktop {
        padding: 80px 0px;
      }
    }

    .toc-mushrooms {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;        
      }
    }
  }
  
}