.toc-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  background: white;

  .toc-header {
    display: flex;
    align-items: center;
    height: $desktop-logo-height;
    background: white;

    .compost-logo {
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
      height: $desktop-logo-height;

      img {
        height: 100%;
      }
    }

    .toc-close-button {
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  .toc-body {
    max-width: 1200px;
    margin: 0px auto;
    
    .toc-nav-links {
      font-family: $title-sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 35px;
      margin-top: 60px;
      
      a {
        color: black;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 40px;
      }
    }
    
    .toc-pieces {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around;
      margin-top: 40px;

      .toc-piece-tile {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        color: black;

        .toc-piece-image {
          width: 350px;
          height: 175px;
          background: #ddd;
        }

        .toc-piece-title {
          width: 350px;
          margin-top: 8px;
          font-size: 26px;
        }
      }
    }
    
    .toc-footer {
      margin: 80px 20px;
      display: flex;
      font-family: $title-sans-serif;
      font-size: 0.8rem;

      .footer-column {
        margin-right: 80px;

        .footer-column-header {
          // font-size: 1rem;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }

    .toc-mushrooms {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;        
      }
    }
  }
  
}