.toc-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  background: white;
  background-image:
    linear-gradient(rgba(255,255,255,.98), rgba(255,255,255,.98)),
    url('../images/COMPOST_Pattern_A2.jpg');
  z-index: $toc-z-index;

  .toc-header {
    background: white;
    height: 80px;
    border-bottom: 1px dashed;
    margin-bottom: 20px;
    background-image:
      linear-gradient(rgba(255,255,255,.96), rgba(255,255,255,.96)),
      url('../images/COMPOST_Pattern_A1.jpg');

    @include desktop {
      margin-bottom: 40px;
      height: calc(#{$desktop-logo-height} + 20px);
    }

    .header-top {
      display: flex;  
      
      @include desktop {
        position: relative;
        width: 100%;
        max-width: $desktop-homepage-width;
        margin: 0px auto;
      }

      .compost-logo {
        position: absolute;
        left: 50%;
        top: 12px;
        transform: translateX(-50%);
        height: $mobile-logo-height;

        @include desktop {
          height: $desktop-logo-height;
        }

        img {
          height: 100%;
        }
      }

      .toc-close-button {
        margin-top: 20px;
        margin-left: 10px;
        height: 40px;

        @include desktop {
          height: 60px;
          margin-top: 28px;
        }

        img {
          height: 100%;
        }
      }

      .mushroom {
        position: absolute;
        right: 22px;
        top: 3px;
        height: 60px;

        @include desktop {
          height: 90px;
          top: 4px;
        }

        img {
          height: 100%;
        }
      }
    }
  }

  .toc-body {
    max-width: $desktop-homepage-width;
    margin: 0px auto;
    
    .toc-nav-container {
      display: flex;

      .toc-nav-links {
        display: flex;
        flex-direction: column;
        font-family: $title-sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        @include title-style;

        @include desktop {
          flex-direction: row;
          margin-left: 14px;
        }
        
        a {
          display: inline-flex;
          align-items: center;
          margin-left: 20px;
          margin-right: 50px;
          text-decoration: none;
        }

        .worm-link {
          position: relative;
          display: inline-flex;

          .worm-image {
            display: none;
            position: absolute;
            top: -40px;
            left: -65px;
            width: 100px;
            height: 100px;
          }
        }
      }
      .mobile-worm {
        position: relative;
        flex-grow: 1;
        
        @include desktop {
          display: none;
        }

        img {
          position: absolute;
          bottom: 0px;
          right: 0px;
        }
      }
    }
    
    .toc-pieces {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 40px;
      padding: 0px 20px;

      &::after {
        content: "";
        flex-basis: 350px;
      }

      @include desktop {
        padding: 0px;
      }

      .toc-piece-tile {
        margin-bottom: 40px;
        color: black;
        text-decoration: none;

        .toc-piece-image {
          width: 100%;

          @media (min-width: 370px) {
            width: 350px;
            height: 175px;
          }
          
          img {
            width: 100%;
            max-height: 100%;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          }
        }

        .toc-piece-title {
          width: 350px;
          margin-top: 8px;
          font-family: $title-sans-serif;
          @include title-style;
          font-weight: bold;
          font-size: 1.4em;

          @include desktop {
            font-size: 1.0em;
            margin-bottom: 6px;
          }
        }

        .toc-piece-author {
          @include title-style;
          letter-spacing: 0.2em;
          margin-bottom: 12px;

          @include desktop {
            font-size: 0.8em;
            margin-bottom: 20px;  
          }
        }
      }
    }

    .toc-footer-container {
      display: flex;

      @include desktop {
        padding: 80px 0px;
      }
    }

    .toc-mushrooms {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;        
      }
    }
  }
  
}
