.micah-container {
  width: 100%;

  .mesh-map {
    margin: 0px auto;
    width: 800px;
    height: 800px;
  }

  // #right-arrow-overlay {
  //   width: 20px;
  //   height: 20px;
  //   color: blue;
  //   z-index: 1;
  // }
}

.mesh-marker {
  cursor: pointer;
}