<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ $mainStylesheet := resources.Get "sass/main.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $mainStylesheet.Permalink }}">
    
    <title>
      {{ block "title" . }}{{ .Site.Title }}{{ end }}
    </title>
  </head>
  <body>
    <header class="main-header">
      <div class="header-top">
        <a class="hamburger-worm" onclick="showTableOfContents()">
          <img src="{{ "./images/COMPOST_Assets_SNKhmbrgr_WHT 1.png" | relURL }}">
        </a>
        <a class="compost-logo" href="{{ relref . "/" }}">
          <img src="{{ "./images/COMPOST_Logo_1920WHT 1.png" | relURL }}">
        </a>
      </div>
    </header>
    
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    
    {{ block "footer" . }}
      <footer>Welcome to the footer.</footer>
    {{ end }}

    <script src="{{ (resources.Get "js/vendor/nanohtml.min.js").RelPermalink }}"></script>
    
    {{ block "scripts" . }}{{ end }}
  </body>
</html>