{{ define "main" }}
  <div>
    
    <h1>COMPOST is an artist-run cooperative</h1>
    <p>If you like what we're doing, support us with a tip!</p>
    
    <section>
      <h1>2021 Fundraising Goals</h1>
      <div id="fundraising-goals"></div>
    </section>
    
    <section>
      <h1>Issue 1 Finances</h1>
      <p>As of <span todays-date></span> COMPOST Issue 1 has raised:</p>
      <h2 amount-raised></h2>
      <img src="finances-pie.png">
    </section>

    <section>
      <p>Help us keep our starship in orbit!</p>
    </section>

    <a href="{{.Site.Home.Permalink}}">Go Home</a>
    
  </div>
{{ end }}


{{ define "scripts" }}
  {{ $js := resources.Get "js/contribute.js" }}
  <script src="{{ $js.Permalink }}"></script>
{{ end }}
