{{ define "og" }}
  <meta property="og:title" content="COMPOST Issue 01: {{ .Params.title }} by {{ .Params.author }}" />
  <meta property="og:url" content="https://one.compost.digital{{ .Page.RelPermalink }}" />
  <meta property="og:image" content="https://one.compost.digital{{ .Params.tableOfContentsImageUrl | relURL }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
{{ end }}

{{ define "title" }}
COMPOST Issue 01: {{ .Params.title }} by {{ .Params.author }}
{{ end }}

{{ define "main" }}
  <div class="micah-container main-column">

    {{ $author := index (where .Site.Data.people "name" .Params.author) 0 }}

    {{ if isset .Params "titleimageurl" }}
      <div class="piece-title-image">
        <img src="{{ .Params.titleImageUrl | relURL }}">
      </div>
    {{ end }}

    <h1>{{.Params.title}}</h1>

    {{ if isset .Params "subtitle" }}
      <h2 class="piece-subtitle">{{ .Params.subtitle }}</h2>
    {{ end }}

    <div class="author-name">{{ $author.name }}</div>
    
    {{ .Content }}
    
    <div class="mesh-map" id="openseadragon1" title="Interactive Mesh Map" alt="Artifacts and Activities, People and Places, Technologies and Talkings, All on the landscape map before this one. The city is abuzz with Networks and Exchanges. The community practices are almost visible, Like all things in this map It is but an abstraction. Come to Bidar"></div>

    <h3>Authors</h3>
    <p>The people involved in creating this piece moved between different roles and undertook efforts that don’t just come under a ‘Contributor’ tag. They danced between these roles care-fully, annotating the article in a way that no one else could.</p>
    <h4>Maintainer-Repairers</h4>
    <p>“When there are many people singing and someone’s voice fails them, another can step up to support it.”</p>
    <p>Vinay, Supriya, Dilip, Dinesh, Shalini, Shreyas</p>
    <h4>Translator-Weaver-Facilitators</h4>
    <p>“They connect ideas, concepts, struggles, people, and practices while experimenting with the overlaps and distinctions with care according to context.”</p>
    <p>Micah, Siddhant, Shreyas, Sanketh, Bhanu, Vinay, Dheeraj</p>
    <h4>Storyteller-Archiver-Guides</h4>
    <p>“They are the keepers of memory. A living archive of practices, places and collectives.”</p>
    <p>Narsappa, Ruksaana, Vidyawati, Malamma, Tulsamma, Zakiya-Bi, The Bhooteya, The Kumbhara, The Khadim</p>
    <p>Thank you Benny Lichtner for implementing this piece so beautifully!</p>

    {{ if isset .Params "endingimageurl" }}
      <div class="gif-ending">
        <img src="{{ .Params.endingImageUrl | relURL }}">
      </div>
    {{ else }}
      <div class="gif-ending">
        <img src="{{ "./images/angelica-gifs/mantis_computer.gif" | relURL }}">
      </div>
    {{ end }}
    
    <div class="bio">
      <p>{{ $author.bio | markdownify }}</p>
      <p>
        <strong>Siddhant</strong> is a recent graduate from Srishti Institute of Art, Design, and Technology. He is interested in rural livelihood and how design can work with local collectives. His work combines fieldwork with a design-oriented research approach to further understand people’s everyday practices, different stakeholders’ needs, and the development of different participatory methods to engage with individuals and communities. His previous works involve collaboration with grassroots organizations, non-governmental organizations, and the marginalized community in different parts of rural and urban areas in India.
      </p>
      <p>The project that is the subject of this piece was made possible by a grant from APC-LocNet.</p>
    </div>
    {{ partial "prev-and-next-buttons.html" . }}
  
  </div>
{{ end }}

{{ define "scripts" }}
  <script src="{{ "js/vendor/openseadragon-bin-2.4.2/openseadragon.min.js" | relURL }}"></script>
  <script src="{{ (resources.Get "js/micah.js").RelPermalink }}"></script>
{{ end }}
