{{ define "head" }}
  <!-- <link rel="stylesheet" href="{{ "js/vendor/annotorious-openseadragon-2.2.1/annotorious.min.css" | relURL }}"> -->
{{ end }}

{{ define "main" }}
  <div class="micah-container main-column">

    {{ $author := index (where .Site.Data.people "name" .Params.author) 0 }}

    {{ if isset .Params "titleimageurl" }}
      <div class="piece-title-image">
        <img src="{{ .Params.titleImageUrl | relURL }}">
      </div>
    {{ end }}

    <h1>{{.Params.title}}</h1>

    {{ if isset .Params "subtitle" }}
      <h2 class="piece-subtitle">{{ .Params.subtitle }}</h2>
    {{ end }}

    <div class="author-name">{{ $author.name }}</div>
    
    {{ .Content }}
    
    <div class="mesh-map" id="openseadragon1"></div>

    {{ if isset .Params "endingimageurl" }}
      <div class="gif-ending">
        <img src="{{ .Params.endingImageUrl | relURL }}">
      </div>
    {{ else }}
      <div class="gif-ending">
        <img src="{{ "./images/angelica-gifs/mantis_computer.gif" | relURL }}">
      </div>
    {{ end }}
    
    <div class="bio"><p>{{ $author.bio | markdownify }}</p></div>

    {{ partial "prev-and-next-buttons.html" . }}
  
  </div>
{{ end }}

{{ define "scripts" }}
  <script src="{{ "js/vendor/openseadragon-bin-2.4.2/openseadragon.min.js" | relURL }}"></script>
  <!-- <script src="{{ "js/vendor/annotorious-openseadragon-2.2.1/openseadragon-annotorious.min.js" | relURL }}"></script> -->
  <script>
    var micahImageURL = {{ "micah/nb v24.jpg" | relURL }}
    var micahAnnotationURL = {{ "micah/annotations.w3c.json" | relURL }}
    var staticFilesPrefix = {{ "/" | relURL }}
  </script>
  <script src="{{ (resources.Get "js/micah.js").RelPermalink }}"></script>
{{ end }}
