{{ define "og" }}
  <meta property="og:title" content="COMPOST Issue 01: {{ .Params.title }} by {{ .Params.author }}" />
  <meta property="og:url" content="https://one.compost.digital{{ .Page.RelPermalink }}" />
  <meta property="og:image" content="https://one.compost.digital{{ .Params.tableOfContentsImageUrl | relURL }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
{{ end }}

{{ define "title" }}
COMPOST Issue 01: {{ .Params.title }} by {{ .Params.author }}
{{ end }}

{{ define "main" }}

  <div class="shafali-container piece-container">
    {{ $author := index (where .Site.Data.people "name" .Params.author) 0 }}

    <div class="main-column">
      {{ if isset .Params "titleimageurl" }}
        <div class="piece-title-image">
          <figure>
            <img class="no-shadow" src="{{ .Params.titleImageUrl | relURL }}">
            <figcaption><p>{{ .Params.titleImageCaption }}</p></figcaption>
          </figure>
        </div>
      {{ end }}

      <h1>{{.Params.title}}</h1>

      {{ if isset .Params "subtitle" }}
        <h2 class="piece-subtitle">{{ .Params.subtitle }}</h2>
      {{ end }}

      <div class="author-name">{{ $author.name }}</div>
      
      {{ .Content }}

      <!-- Footnotes -->
      <div class="footnotes-container"></div>
      <!-- See baseof.html for mobile-footnotes-container -->
    </div>

    <div class="sketches-column">
      <section class="shafali-row biases">
        <div class="sketch biases-sketch">
          <iframe id="biasesF" alt="Collage for the theme overcoming biases and superstitions: Elements include a black cat, savitri bai phule, an empty cage, a bird and a sanitary napkin with flower."></iframe>
          <div class="sketch-text">early morning Saturday
a black cat meowed at the crosswalk
and what felt like a racing heartbeat
was actually the sound of progressing footsteps.</div>
        </div>
        <div class="biases-text">
          <div class="shafali-big-text">
            31,500 search results later
            sat a story of a space 
            that quietly pulled us in 
            to a world within the world.
          </div>
        </div>
      </section>
      <section class="shafali-row material-creator">
        <div class="sketch material-sketch">
          <iframe id="materialF" alt="Collage for the theme exploring materials: Elements include different materials like corn, flowers, dung cakes, palm leaves, and jute. It also has a raspberry pi, solar grid and a hand."></iframe>
          <div class="sketch-text">it is in the nature of things 
To not exist
but we've been shaped 
To form, to mould. <span class="footnote-link" footnote-id="[3]"></span></div>
        </div>
        <div class="sketch creator-sketch">
          <iframe id="CreatorF" alt="The piece writes Creator @ ❤ with mouse click"></iframe>  
          <div class="sketch-text">laughter burst from a corner 
where the creators of today painted 
an unmistakable picture of tomorrow.</div>
        </div>
      </section>
      <section class="shafali-row literacy-respect">
        <div class="sketch literacy-sketch">
          <iframe id="LiteracyF" alt="Interactive piece for the theme questioning traditional forms of literacy: Elements include a cow, ASPi logo and a ball"></iframe>
          <div class="sketch-text">the inevitability finally dawned
Assumptions were bygones
it was no more banking
much more shaping. <span class="footnote-link" footnote-id="[4]"></span></div>
        </div>
        <div class="sketch respect-sketch">
          <iframe id="RespectF" alt="Collage for the theme respecting others: Elements include a young woman with her hands spread, a tree, a mother cow with her calf, logo of ASPi, worli painting, circular arrows and text which reads मैं नारी हूँ (I'm a woman)"></iframe>
          <div class="sketch-text">you and I have long fought for this wind 
of freedom, respect and justice 
that flows past each one of us equally.</div>
        </div>
      </section>
      <section class="shafali-row intergenerational">
        <div class="intergenerational-text">
          <div class="shafali-big-text">
            Outside, the rest of the world's rushing,
            selves searching for their own voices in the cacophony.
            But here, Sun has become one with the river,
            the crickets have started humming the songs of the stars 
            and we who have finally found home,
            delight in this. 
            We’ve never lost our voice.
          </div>
        </div>
        <div class="sketch intergenerational-sketch">
          <iframe id="IGF" alt="Collage for the theme connecting various generations: A young woman and her Grandmother with recording instrument, a pair of dices, PCB, festive sweets, a mouse, a lighted  lamp (diya) and a twig of tulsi."></iframe>
          <div class="sketch-text">in the way a little sapling grew by a tree now old
one's roots strengthen the other.
at a distance, a radio played the songs of a forgotten past. 
a girl danced with her grandmother.</div>
        </div>
      </section>
    </div>

    <div class="main-column">
    
      <p>A big shout out to all those who have been a part of this project, especially the Garima Girls, without whom we could have never imagined this project, beings of Janastu who brought Aamne Saamne Pi into this world, Micah, Dinesh, and Bhanu, who helped me at different points in the project, and Shanya who penned down the poem with me. Cheers to Ben, Mai, and Udit for COMPOST!</p>

      {{ if isset .Params "endingimageurl" }}
        <div class="gif-ending">
          <img src="{{ .Params.endingImageUrl | relURL }}">
        </div>
      {{ end }}
      
      <div class="bio">{{ $author.bio | markdownify }}</div>

      {{ partial "prev-and-next-buttons.html" . }}
    </div>
  </div>

{{ end }}

{{ define "scripts" }}
  {{ if isset .Params "footnotesurl" }}
  <script>
    var footnotes = JSON.parse({{ (.Resources.GetMatch .Params.footnotesUrl).Content }})
  </script>
  {{ end }}

  {{ if isset .Params "footnotes" }}
  <script>
    var footnotes = JSON.parse({{ .Params.footnotes | jsonify }})
  </script>
  {{ end }}
  <script src="{{ (resources.Get "js/shafali.js").RelPermalink }}"></script>
  <script src="{{ (resources.Get "js/footnotes.js").RelPermalink }}"></script>
{{ end }}
