{{ define "main" }}
  
  <div class="piece-container main-column">
    {{ $author := index (where .Site.Data.people "name" .Params.author) 0 }}

    {{ if isset .Params "titleimageurl" }}
      <div class="piece-title-image">
        <figure>
          <img src="{{ .Params.titleImageUrl | relURL }}">
          <figcaption><p>{{ .Params.titleImageCaption }}</p></figcaption>
        </figure>
      </div>
    {{ end }}

    <h1>{{.Params.title}}</h1>

    {{ if isset .Params "subtitle" }}
      <h2 class="piece-subtitle">{{ .Params.subtitle }}</h2>
    {{ end }}

    <div class="author-name">{{ $author.name }}</div>

    {{ .Content }}

    {{ if isset .Params "endingimageurl" }}
      <div class="gif-ending">
        <img src="{{ .Params.endingImageUrl | relURL }}">
      </div>
    {{ else }}
      <div class="gif-ending">
        <img src="{{ "./images/angelica-gifs/mantis_computer.gif" | relURL }}">
      </div>
    {{ end }}
    
    <div class="bio"><p>{{ $author.bio | markdownify }}</p></div>

    {{ partial "prev-and-next-buttons.html" . }}

    <!-- Footnotes -->
    <div class="footnotes-container"></div>
    <!-- See baseof.html for mobile-footnotes-container -->

    {{ if isset .Params "footnotesurl" }}
      <script>
        var footnotes = JSON.parse({{ (.Resources.GetMatch .Params.footnotesUrl).Content }})
      </script>
    {{ end }}

    {{ if isset .Params "footnotes" }}
      <script>
        var footnotes = JSON.parse({{ .Params.footnotes | jsonify }})
      </script>
    {{ end }}
  </div>

{{ end }}

{{ define "scripts" }}
  <script src="{{ (resources.Get "js/footnotes.js").RelPermalink }}"></script>
{{ end }}
