<footer class="footer-content">
  <div class="footer-column">
    <div class="footer-column-header">Contact</div>
    <div><a>hello@compost.digital</a></div>
    <br>
    <div>Web: <a href="https://compost.digital">compost.digital</a></div>
    <div>IPFS:  [LINK]</div>
    <div>Hypercore:  [LINK]</div>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">Social</div>
    <div><a href="">Twitter</a></div>
    <div><a href="">Mastodon</a></div>
    <div><a href="">Newsletter</a></div>
  </div>
  <div class="footer-column">
    <div class="footer-column-header">Support Us</div>
    <div><a href="">Open Collective</a></div>
    <div><a href="">Gitcoin</a></div>
    <div><a href="">More...</a></div>
  </div>
</footer>