<div class="toc-container" table-of-contents-container>
  <div class="toc-header">
    <a class="toc-close-button" onclick="hideTableOfContents()">
      <img src="{{ "./images/COMPOST_Assets_X_blk-1.png" | relURL }}">
    </a>
    <a class="compost-logo" href="{{ relref . "/" }}">
      <img src="{{ "./images/COMPOST_Logo_1920BLK 1.png" | relURL }}">
    </a>
  </div>
  <div class="toc-nav-links">
    <a href="{{ relref . "/" }}">Issue 1</a>
    <a href="{{ relref . "about" }}">About</a>
    <a href="{{ relref . "support-us" }}">Support Us</a>
  </div>
  <div class="toc-pieces"></div>
  <div class="toc-footer"></div>
</div>