<div class="toc-container" table-of-contents-container>
  
  <div class="toc-header">
    <div class="header-top" role="navigation">
      <a class="toc-close-button" href="" aria-label="Close Table of Contents" role="button" tabindex="0" title="Close" onclick="hideTableOfContents(event)">
        <img src="{{ "./images/COMPOST_Assets_X_blk-1.png" | relURL }}" alt="X">
      </a>
      <a class="compost-logo" href="{{ relref . "/" }}" title="Home">
        <img src="{{ "./images/COMPOST_Logo_1920BLK_1.png" | relURL }}" alt="COMPOST" >
      </a>
      <a class="mushroom" href="{{ relref . "support-us" }}" alt="mushroom" title="Support Us">
        <img src="{{ "./images/Compost_Mushroom2.gif" | relURL }}"  webmon-mushroom-black>
      </a>
    </div>
  </div>
  
  <div class="toc-body">
    <div class="toc-nav-container">
      <div class="toc-nav-links">
        <div class="worm-link">	
          <img class="worm-image" alt="worm">
          <a href="{{ relref . "/" }}">Issue 01</a>
        </div>
        <div class="worm-link">
          <img class="worm-image">
          <a href="{{ relref . "about" }}">About</a>
        </div>
        <div class="worm-link">
          <img class="worm-image" alt="worm">
          <a href="{{ relref . "support-us" }}">Support Us</a>
        </div>
      </div>
      <div class="mobile-worm">
        <img worm-facing-left-mobile alt="worm">
      </div>
    </div>
    
    <div class="toc-pieces">
      {{ $pieceSequence := index .Site.Data "piece-sequence" }}
      {{ range $pageName := $pieceSequence }}
          {{ $page := $.Site.GetPage $pageName }}
          <a href="{{$page.Permalink}}" class="toc-piece-tile" title="{{$page.Title}}">
            <div class="toc-piece-image">
              {{ if isset $page.Params "tableofcontentsimageurl" }}
                <img src="{{ $page.Params.tableOfContentsImageUrl | relURL }}" alt="{{ $page.Params.tableOfContentsImageAlt }}">
              {{ else }}
                <img src="{{ "./images/defaults/default-toc-image.png" | relURL }}">
              {{ end }}
            </div>
            <div class="toc-piece-title">{{$page.Title}}</div>
            <div class="toc-piece-author">{{$page.Params.author}}</div>
          </a>
      {{ end }}
    </div>

    <!-- <div class="toc-footer-container">
      {{ partial "footer-content.html" . }}
    </div> -->

    <div class="mushrooms-container"></div>

  </div>

</div>
