{{ define "main" }}
  <div>
    
    Homepage content:
    
    <ul>
        {{ range where .Site.RegularPages "Type" "pieces" }}
            <li>
                <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}} | {{.Type}}</a>
            </li>
        {{ end }}
    </ul>

    <!-- <ul>
    {{ range .Site.Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}} | {{.Type}}</a>
        </li>
    {{ end }}
    </ul> -->
    
  </div>
{{ end }}
