{{ define "main" }}
  <div class="home-container">
    
    <div class="above-the-fold">
      <div class="cover-image-container">
        <img src="{{ "images/Compost_issue01_draftv1.png" | relURL }}">    
      </div>
      <div class="compost-description">
        {{ .Content }}
        <br />
        <br />
        <div class="mushrooms-container"></div>
      </div>
    </div>
    
    <div class="home-toc-pieces">
      {{ $pieceSequence := index .Site.Data "piece-sequence" }}
      {{ range $pageName := $pieceSequence }}
        {{ $page := $.Site.GetPage $pageName }}
        <a class="toc-piece-tile" href="{{$page.Permalink}}">
          <div class="toc-piece-image">
            {{ if isset $page.Params "tableofcontentsimageurl" }}
              <img src="{{ $page.Params.tableOfContentsImageUrl | relURL }}">
            {{ else }}
              <img src="{{ "./images/defaults/default-toc-image.png" | relURL }}">
            {{ end }}
          </div>
          <div class="toc-piece-title">{{$page.Title}}</div>
          <div class="toc-piece-author">{{$page.Params.author}}</div>
          <div class="toc-piece-description">{{$page.Params.description}}</div>
        </a>
      {{ end }}
    </div>
    
  </div>
{{ end }}
